.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Custom styling*/
.linkedIn-logo{
  height: 40px;
  width: 40px;
}

.header-container{
  background: #283e4a;
  padding: 0.25%;
}

.img-container{
  background: white;
}

.header-content-container{
  padding: 10px;
  display: inline;
}

.search-box{
  margin-left: 20px;
  width: 250px;
  height: 30px;
  background: #e1e9ee;
  text-indent: 10px;
}

.nav-links{
  float: right;
}
.nav-links p{
  display:inline;
  padding: 5px;
  color: white;
}

.nav-links a{
  text-decoration: none;
  padding: 5px;
  color: white;
}

.invitation-container, .connections-container{
  box-shadow: 10px 10px 5px grey;  
  background:white;
}
.my-network-container{
  background: #e1e9ee;
}
.center-content{
  text-align: center;
}
.pad-3-pc{
  padding: 3%;
}

.content-left-align{
  text-align: initial;
}

.pad-1-pc{
  padding: 1%;
}

.connection-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.people-search-container{
 margin-left: 25%;
}

.jobs-result-filter-container{
  padding-left : 25px;
  padding-top: 10px;
}

.jobs-result-filter-container span{
  padding-right: 25px;
  color: rgba(0,0,0,.6);
  
}
.jobs-result-filter-container span .custom-select{
  display: inline;
  width: 20%;
  color: rgba(0,0,0,.6);
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
}

.jobs-result-filter-container span .custom-select:hover{
  border: 2px solid black;
}
.jobs-result-container{
  /* text-align: initial; */
  /* background-color: #61dafb; */
}

.jobs-result-details-container{
  /* background-color: yellow; */
  margin-top: 20px;
}

.job-logo{
  width: 56px;
  height: 56px;
}

.job-details-logo{
  width: 122px;
  height: 122px;
}

.job-logo-container{
  height: 100%;
}

.pad-2-pc{
  padding:2%;
  
}

.job-desc-cotainer{
  color: rgba(0,0,0,.6);
}

.save-btn{
  background-color: white;
  border-radius: 2px;
  border: 1px solid #0073b1;
  color: #0073b1;
}
.save-btn:hover{
  background-color: rgba(152,216,244,.25);
}

.apply-btn{
  background-color:  #0073b1;
  border-radius: 2px;
  border: 1px solid #0073b1;
  color:white;
}

.save-btn:hover{
  background-color: rgba(152,216,244,.25);
}
